*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

a{
    text-decoration: none;
    color: white;
}

.bg-dark-red{
    background-color: #8a0a23;
}

.bg-light-red{
    background-color: #f7204a;
}
