*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.container{
    width: 1100px;
    padding: auto;
    margin: auto;
}

a{
    text-decoration: none;
    color: white;
}

.bg-dark-red{
    background-color: #8a0a23;
}

.bg-light-red{
    background-color: #f7204a;
}

.red-button{
    padding: 0.7rem 1.7rem;
    font-size: medium;
    border-radius: 0.4rem;
    background-color: #8a0a23;
    color: white;
    border: #8a0a23;
}

.red-button:hover{
    background-color: #f7204a;
}


