/*navbar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

nav h1{
    color: white;
    font-size: 2rem;
}

nav ul {
    display: flex;
    
}

nav ul li{
    list-style-type: none;
    display: flex;
    
}

nav ul li a{
    margin: 0.4rem;
    padding: 0.5rem 0.9rem;
}

nav ul li a:hover{
    background-color: #f7204a;
    border-radius: 0.4rem;

    
}

/*profile*/

.profile-image{
    width: 255px;
    height: 255px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}

.profile-name{
    font-size: xx-large;
}

.profile-desc{
    margin-top: 0.1rem;
    font-style: italic;
    opacity: 0.6;
}

#profile button{
    margin: 2rem 0;

}

/*egitimler*/
.egitimler{
    height: 15rem;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    color: white
}
#egitimler h1{
    text-align: center;
    color: white;
    font-size: xx-large;
    padding-top: 2rem
}

.egitimler .egitim{
    text-align: center;
}

/*kurslar*/
#kurslar{
    margin: 2rem;
}

#kurslar h1{
    text-align: center;
    margin: 3rem;
    font-size: xx-large;
}
.kurs-img{
    position: relative;
}

.kurs-img img{
    width: 400px;
}

.kurs-img span{
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #f7204a;
    color: white;
    border: 0.1rem;
    padding: 0.2rem 0.2rem;
}

.kurs{
    display: flex;
    column-gap: 2.5rem;
    justify-content: center;
    margin: 2rem 0;
    
}

.kurs-author{
    font-style: italic;
}
.kurs-desc{
    margin: 0.8rem 0 0.5rem 0;
}

/*iletisim*/
#iletisim h1{
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 2rem 0;
}

#iletisim{
    color: white;
}

label{
    font-size: large;
    margin-top: 0.8rem;
}

input{
    padding: 0.7rem 0;
    font-size: medium;
}

textarea{
    padding: 0.7rem 0;
    font-size: medium;
    height: 5rem;
}

#iletisim button{
    margin-top: 2rem;
    width: 100%;
    background-color: white;
    color: black;
}

#iletisim button:hover{
    background-color: salmon;
}

.icon-set{
    padding: 3rem;
    font-size: xx-large;
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}

.icon-set i:hover{
    color: salmon;
    cursor: pointer;
}